body{
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.carousel_box .swiper-container,.carousel_box .swiper-container img{
    width: 100%;
    height: 100%;
}
.swiper-pagination{
    width: 100%;
    bottom: .2rem;
}
.swiper-pagination span{
    margin-right: 0.2rem;
}
.hint_box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E6E6;
    padding: .5rem .6rem;
    font-size: .48rem;
}
.hint_box span{
    color: #FEA922;
}
.countDown_box{
    position: relative;
}
.countDown_box img{
    position: relative;
    z-index: -1;
    margin-top: .5rem;
    width: 100%;
}
.countDown_box_time{
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: absolute;
    width: 10rem;
    height: 1.9rem;
    line-height: 1.9rem;
    top: 130%;
    left: 1.25rem;
}
.countDown_box_time div.time_box{
    display: flex;
    height: 1.9rem;
}
.countDown_box_time>div>span{
    border-radius: .25rem;
    height: 100%;
    width: .7rem;
    padding: 0 .13rem;
    background-color: #FB4B11;
    background: -webkit-linear-gradient(top, #FB2411 0%, #FB4911 100%);
    background: -moz-linear-gradient(top, #FB2411 0%, #FB4911 100%);
    background: -ms-linear-gradient(top, #FB2411 0%, #FB4911 100%);
    background: linear-gradient(top, #FB2411 0%, #FB4911 100%);
    text-align: center;
    font-size: 1.03rem;
    font-family: Arial Black;
    font-weight: bold;
    color: white;
}
.countDown_box_time>div>span:first-child{
    margin-right: .1rem;
}
.time_radius{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    min-width: 20px;
    min-height: 20px;
    background-color: red;
    font-size: .28rem;
    color: #ffffff;
}
.key_box i{
    display: block;
    width: .12rem;
    height: .17rem;
    background-color: #FB4B11;
    background: -webkit-linear-gradient(top, #FB2711 0%, #FB4B11 100%);
    background: -moz-linear-gradient(top, #FB2711 0%, #FB4B11 100%);
    background: -ms-linear-gradient(top, #FB2711 0%, #FB4B11 100%);
    background: linear-gradient(top, #FB2711 0%, #FB4B11 100%);
}
.key_box i:nth-child(2){
    background-color: #ffffff;
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: linear-gradient(top, #ffffff 0%, #ffffff 100%);
}