<!--完成的消息确认页面-->
<div class="page page_msg_success">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title"></h2>
            <p class="weui-msg__desc"></p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__text">Copyright © 2008-2016 looks</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require(["wxapp.page","mock","jquery"],function(wxappPage,Mock,$){
        $(".page.page_msg_success .weui-msg__title").text(history.state.successPage_title);
        $(".page.page_msg_success .weui-msg__desc").text(history.state.successPage_des);
    });
</script>