<div class="weui-toptips weui-toptips_warn js_tooltips"  style="display: none;">错误提示</div>

<div class="container" id="container"></div>

<!--加载信息-->
<div id="loadingToast" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content">加载中</p>
    </div>
</div>

<!--弹出窗事件-->
<div id="dialogs">
    <!--BEGIN dialog1-->
    <div class="js_dialog" id="iosDialog1" style="opacity: 0; display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">弹窗标题</strong></div>
            <div class="weui-dialog__bd">弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">辅助操作</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">主操作</a>
            </div>
        </div>
    </div>
    <!--END dialog1-->
    <!--BEGIN dialog2-->
    <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd iosDialog2_alert_txt"></div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary iosDialog2_alert_ok">确定</a>
            </div>
        </div>
    </div>
    <!--END dialog2-->
    <!--BEGIN dialog3-->
    <div class="js_dialog" id="androidDialog1" style="opacity: 0; display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog weui-skin_android">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">弹窗标题</strong></div>
            <div class="weui-dialog__bd">
                弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">辅助操作</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">主操作</a>
            </div>
        </div>
    </div>
    <!--END dialog3-->
    <!--BEGIN dialog4-->
    <div class="js_dialog" id="androidDialog2" style="opacity: 0; display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog weui-skin_android">
            <div class="weui-dialog__bd">
                弹窗内容，告知当前状态、信息和解决方法，描述文字尽量控制在三行内
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">辅助操作</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">主操作</a>
            </div>
        </div>
    </div>
    <!--END dialog4-->
</div>

<div class="weui-mask" id="iosMask" style=" display: none;"></div>

<!--actionsheet控件-->
<div class="weui-actionsheet weui-actionsheet_toggle" id="iosActionsheet" style=" display: none;">
    <div class="weui-actionsheet__title">
        <p class="weui-actionsheet__title-text">这是一个标题，可以为一行或者两行。</p>
    </div>
    <div class="weui-actionsheet__menu">
        <div class="weui-actionsheet__cell">示例菜单</div>
    </div>
    <div class="weui-actionsheet__action">
        <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
    </div>
</div>




