body {
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
.weui-panel__bd{
    border-top: 1px solid #dddddd;
}
.weui-panel__bd:last-child{
    border-bottom: 1px solid #dddddd;
}
.weui-panel__bd .weui-media-box .weui-media-box__hd{
    width: 100px;
}
.weui-panel__bd .weui-media-box .weui-media-box__bd{
    position: relative;
}
.weui-panel__bd .weui-media-box__hd .weui-media-box__title,h4 span{
    font-size: 14px;
    color: #6f6f6f;
}
.weui-panel__bd .weui-media-box .weui-media-box__bd b{
    position: absolute;
    right:0;
    bottom: 0;
    font-size: 12px;
    color: #0b890c;
}