<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brtbeacon.plugin.navigator.repository.UserInfoMapper">
  <resultMap id="UserInfoBaseResultMap" type="com.brtbeacon.plugin.navigator.entity.UserInfo">
    <!-- @mbg.generated -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="UserInfoWhereClause">
    <!-- @mbg.generated -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="UserInfoUpdateClause">
    <!-- @mbg.generated -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="UserInfoBaseColumns">
    <!-- @mbg.generated -->
    id, 
    user_name, 
    pass_word, 
    email, 
    phone
  </sql>
  <select id="findOne" parameterType="java.lang.Integer" resultMap="UserInfoBaseResultMap">
    <!-- @mbg.generated -->
    select 
    <include refid="UserInfoBaseColumns" />
    from wh_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    <!-- @mbg.generated -->
    delete from wh_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.brtbeacon.plugin.navigator.entity.UserInfoExample">
    <!-- @mbg.generated -->
    delete from wh_user_info
    <if test="_parameter != null">
      <include refid="UserInfoWhereClause" />
    </if>
  </delete>
  <insert id="save" parameterType="com.brtbeacon.plugin.navigator.entity.UserInfo">
    <!-- @mbg.generated -->
    insert into wh_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="passWord != null">
        pass_word,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.brtbeacon.plugin.navigator.entity.UserInfoExample" resultType="java.lang.Long">
    <!-- @mbg.generated -->
    select count(*) from wh_user_info
    <if test="_parameter != null">
      <include refid="UserInfoWhereClause" />
    </if>
  </select>
  <update id="updateByExample" parameterType="map">
    <!-- @mbg.generated -->
    update wh_user_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.passWord != null">
        pass_word = #{record.passWord,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="UserInfoUpdateClause" />
    </if>
  </update>
  <update id="update" parameterType="com.brtbeacon.plugin.navigator.entity.UserInfo">
    <!-- @mbg.generated -->
    update wh_user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAll" parameterType="com.brtbeacon.plugin.navigator.entity.UserInfo" resultMap="UserInfoBaseResultMap">
    <!-- @mbg.generated -->
    select 
    <include refid="UserInfoBaseColumns" />
    from wh_user_info
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userName != null">
         and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="passWord != null">
         and pass_word = #{passWord,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
         and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
         and phone = #{phone,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="findByExample" parameterType="com.brtbeacon.plugin.navigator.entity.UserInfoExample" resultMap="UserInfoBaseResultMap">
    <!-- @mbg.generated -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="UserInfoBaseColumns" />
    from wh_user_info
    <if test="_parameter != null">
      <include refid="UserInfoWhereClause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>